In [1]:
import pandas as pd
import numpy as np
print(pd.__version__)
print(np.__version__)
pd.set_option('display.max_columns', None)

2.2.3
2.2.1

In [2]:
import os
import sys
sys.path.append(os.path.abspath('..'))

In [3]:
from src.insurance_data_analysis import InsuranceAnalysis

In [4]:
df = pd.read_csv('C:/Users/Temp/Desktop/KAI-Projects/Insurance-Risk-Car-Insurance-Risk-Modeling/data/cleaned_data.csv')

C:\Users\Temp\AppData\Local\Temp\ipykernel_1484\3113957374.py:1: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('C:/Users/Temp/Desktop/KAI-Projects/Insurance-Risk-Car-Insurance-Risk-Modeling/data/cleaned_data.csv')

In [5]:
df.head()

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,Country,Province,PostalCode,MainCrestaZone,SubCrestaZone,ItemType,VehicleType,RegistrationYear,make,Model,Cylinders,cubiccapacity,kilowatts,bodytype,VehicleIntroDate,AlarmImmobiliser,TrackingDevice,CapitalOutstanding,SumInsured,TermFrequency,CalculatedPremiumPerTerm,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims,Gender-2
0,145249,12827,2015-03-01,True,,Close Corporation,Mr,English,First National Bank,Current account,South Africa,Gauteng,1459,Rand East,Rand East,Mobility - Motor,Passenger Vehicle,2004,MERCEDES-BENZ,E 240,6.0,2597.0,130.0,S/D,6/2002,Yes,No,119300,0.01,Monthly,25.0000,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0,Male
1,145249,12827,2015-05-01,True,,Close Corporation,Mr,English,First National Bank,Current account,South Africa,Gauteng,1459,Rand East,Rand East,Mobility - Motor,Passenger Vehicle,2004,MERCEDES-BENZ,E 240,6.0,2597.0,130.0,S/D,6/2002,Yes,No,119300,0.01,Monthly,25.0000,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0,Male
2,145249,12827,2015-07-01,True,,Close Corporation,Mr,English,First National Bank,Current account,South Africa,Gauteng,1459,Rand East,Rand East,Mobility - Motor,Passenger Vehicle,2004,MERCEDES-BENZ,E 240,6.0,2597.0,130.0,S/D,6/2002,Yes,No,119300,0.01,Monthly,25.0000,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0,Male
3,145255,12827,2015-05-01,True,,Close Corporation,Mr,English,First National Bank,Current account,South Africa,Gauteng,1459,Rand East,Rand East,Mobility - Motor,Passenger Vehicle,2004,MERCEDES-BENZ,E 240,6.0,2597.0,130.0,S/D,6/2002,Yes,No,119300,119300.00,Monthly,584.6468,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0,Male
4,145255,12827,2015-07-01,True,,Close Corporation,Mr,English,First National Bank,Current account,South Africa,Gauteng,1459,Rand East,Rand East,Mobility - Motor,Passenger Vehicle,2004,MERCEDES-BENZ,E 240,6.0,2597.0,130.0,S/D,6/2002,Yes,No,119300,119300.00,Monthly,584.6468,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0,Male

In [6]:
analysis = InsuranceAnalysis(df)

This section provides summary statistics for total claim and premium accross bank and account type to see fraudlent account types

In [7]:
stats = analysis.claim_accros_bankand_acc()
stats

                      Bank           AccountType   avg_claim   count
0                ABSA Bank       Current account   69.163921   85144
1                ABSA Bank       Savings account   59.059212  131225
2                ABSA Bank  Transmission account    0.000000     447
3             Capitec Bank       Current account  141.027731    6717
4             Capitec Bank       Savings account   65.778923   53684
5             Capitec Bank  Transmission account    0.000000     180
6      First National Bank       Current account   73.284326  196490
7      First National Bank       Savings account   62.828306   73049
8      First National Bank  Transmission account    0.000000     312
9           FirstRand Bank       Current account   66.308677     370
10          FirstRand Bank       Savings account   29.032469     268
11           Investec Bank       Current account  157.491475     747
12             Ithala Bank       Current account    0.000000      80
13             Ithala Bank       Savings account    2.909484    1650
14  Mercantile Lisbon Bank       Current account    0.000000     135
15                 Nedbank       Current account   50.148917  163630
16                 Nedbank       Savings account   50.619494   32418
17                 Nedbank  Transmission account    0.000000    1339
18              Old Mutual       Current account   19.360754    2119
19              Old Mutual       Savings account    0.000000     100
20        RMB Private Bank       Current account  163.994411   13262
21           Standard Bank       Current account   68.202999  164474
22           Standard Bank       Savings account   48.900993   68793
23           Standard Bank  Transmission account  139.122018    2911

This section provides summary statistics for total claim accros covertype to see which covers claim more

In [8]:
stat2 = analysis.claim_accros_covertpye()
stat2

                                            CoverType  TotalClaims
0                                    Accidental Death     0.000000
1                               Asset Value Preserver     0.000000
2                                     Baggage/Luggage     0.000000
3                                 Basic Excess Waiver     0.000000
4                                        Cash Takings     0.000000
5             Cleaning and Removal of Accident Debris     0.000000
6                                   Credit Protection    18.405610
7                                       Deposit Cover    33.764164
8                                   Emergency Charges     0.160331
9   Factory Fitted Sound and Other Electronic Equi...  7031.578947
10                                     Fire and Theft     0.000000
11                                   Income Protector    39.597135
12                                    Keys and Alarms     0.073911
13                                         Own Damage   561.485120
14                                Passenger Liability     0.000000
15                                Roadside Assistance     0.872221
16                          Signage and Vehicle Wraps     0.000000
17                     Standalone passenger liability     0.000000
18                                        Third Party    15.361025
19                                   Third Party Only     0.000000
20                                            Trailer     0.000000
21                                         Windscreen    12.345005

this section provides stats about average claim ana total premium accros vehicle type to see which types of vehicles often require claim

In [9]:
stat3 = analysis.claim_accros_vehicle()
stat3.sort_values('avg_claim').tail(10)

          VehicleType       Province   avg_claim  avg_Premium   count
39  Passenger Vehicle   Western Cape   55.039556    53.700937  159778
28  Medium Commercial     North West   61.531960    63.620550    9755
10   Heavy Commercial     Mpumalanga   62.132888    53.379274     496
24  Medium Commercial        Gauteng   65.742699    74.296574   18836
33  Passenger Vehicle        Gauteng   75.529282    60.482021  372171
22  Medium Commercial   Eastern Cape   76.918935    79.688914     841
34  Passenger Vehicle  KwaZulu-Natal   78.539383    76.729642  161215
4                 Bus   Western Cape  156.794806    52.267675      51
25  Medium Commercial  KwaZulu-Natal  204.325188   101.319410    7953
13   Heavy Commercial   Western Cape  228.096983    75.368124    2906

This section provides summary statistics for `Total_Claim` and `Premium` across various segments like province and gender.

In [20]:
stat4 = analysis.claim_by_gender_province()
stat4.sort_values(['Avg_Total_Claim', 'Avg_Premium'])

         Province Gender-2  Avg_Total_Claim  Avg_Premium   Count
2      Free State   Female         0.000000   104.122550     219
14  Northern Cape   Female         8.709215    53.440970     662
15  Northern Cape     Male        14.642359    49.174563    5718
12     North West   Female        15.799105    44.890363   11655
10     Mpumalanga   Female        27.586405    53.911411    4424
8         Limpopo   Female        30.538804    72.729173     805
4         Gauteng   Female        38.871875    59.620787   19166
11     Mpumalanga     Male        39.877071    53.876498   48214
1    Eastern Cape     Male        40.020609    69.701690   26503
9         Limpopo     Male        41.275560    61.536245   24031
13     North West     Male        43.576877    52.930222  131632
3      Free State     Male        45.040897    63.269087    7880
17   Western Cape     Male        56.980930    54.264425  155232
16   Western Cape   Female        64.437318    53.538141   15330
6   KwaZulu-Natal   Female        68.117216    89.484676   10448
5         Gauteng     Male        76.508056    61.171755  374459
0    Eastern Cape   Female        77.161616    76.389238    3833
7   KwaZulu-Natal     Male        85.291144    77.034537  159333